---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-title::before {
  content: url("/assets/images/okeyge.png");
  display: inline-block;
  position: relative;
  margin-right: 10px;
  top: 6px;
  right: 5px;
}
